<div class="wrapper wrapper-content animated fadeInRight" ng-controller="viewDevices as viewd">
    <div class="row">

        <div class="col-lg-3" ng-repeat="device in viewd.devices_data">
            <div class="contact-box center-version">
                <a><img alt="image" class="img-circle" ng-src="{{device.imgURL}}">
                <h3 class="m-b-xs"><strong>{{device.dName}}</strong></h3>
                <div class="font-bold">{{device.cName}}</div>
                <address class="m-t-md">
                    <strong>{{device.purchaseDate}}</strong><br>
                    {{device.address[0]}}<br>
                    {{device.address[1]}}<br>
                </address></a>
            </div>
        </div>
    </div>
</div>

<div id="small-chat" class="ng-scope" role="button" tabindex="0" ng-controller="modalDemoCtrl">
    <button type="button" ng-click="open1()" class="btn btn-primary btn-circle btn-lg open-small-chat" tooltip-placement="top" uib-tooltip="Add device!"> 
            <i class="fa fa-plus"></i>      
    </button>
</div>