<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">New Device</h4>
    </div>
    <div ng-hide="devVerify">
        <div class="modal-body">
            <p><strong>All the device details will automatically be fetched from our servers </strong>once you enter the authorized device ID provided at the time of purchase</p><br/>
            <div class="form-group"><label>Name your device</label><input placeholder="Enter an alias name for device" class="form-control"></div>
            <div class="form-group"><label>Device registration ID</label> <input placeholder="Enter 16 digit unique device ID" ng-model="devID" class="form-control"></div>
            <div ng-show="showError">
                <h4>Please enter correct device registration id</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="devCheck(devID)">Next</button>
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        </div>
    </div>
    <div ng-show="devVerify">
        <div class="modal-body" style="text-align: -webkit-center;">
            <p><strong>Here are the details of device you want to add </strong></p>
            <img alt="image" class="img-circle" ng-src="{{device.imgURL}}" style="padding-bottom:10px;"><br/>
            <p><strong>Device Name : </strong>{{device.dName}}</p>
            <p><strong>Customer name : </strong>{{device.cName}}</p>
            <p><strong>Date of purchase : </strong>{{device.purchaseDate}}</p>
            <p><strong>Location : </strong>{{device.address[0] + ", " + device.address[1]}}</p> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="devAdd()">Add device</button>
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        </div>
    </div>
</div>

